@media (max-width: 1199px)
  .container
    width: 970px
@media (max-width: 992px)
  .container
    width: 767px    
  .main
    &-text
      &__title
        font-size: 30px
        line-height: 36px
  .feedback
    background: #ffffff
    margin: auto
    
    text-align: center
  .feedback-wrap  
    margin: auto

  .form
    margin: auto  
@media (max-width: 768px)
  .container
    width: 95%
  .main
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px      
      margin: auto   
      &__title
        text-align: center
  .feedback
    margin: auto
    
    text-align: center
  .feedback-wrap  
   margin: auto

  .form
    margin: auto        
@media (max-width: 576px)
  .container
    width: 95%
  .main
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px      
      margin: auto   
      &__title
        text-align: center
  .feedback
    margin: auto
    
    text-align: center
  .feedback-wrap  
    margin: auto
  .form
    margin: auto   
  .input.input-name.form__input
    margin-right: 0px
@media (min-width: 320px) and (max-width: 576px)
  .container
    width: 95%
  .container.header-wrap
    flex-direction: column
  .feedback-wrap
    flex-direction: column
  .feedback-callback
    margin-right: auto
    margin-left: auto
    margin-bottom: 25px
  


  .header-text__phone
    font-size: 12px    
  .header-text__button
    font-size: 12px
  .hidden-xs
    display: none     
  
   
